body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #1d0136;
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: 'Arcade';
  src: url('/fonts/ARCADE_N.TTF');
}
@font-face {
  font-family: 'Digital';
  src: url('/fonts/DS-DIGI.TTF');
}
#start-screen{
  width: 800px;
  height: 600px;
  cursor: pointer;
}
